@import "./../../styles.scss";

.player {
  @include dFlex($jc: flex-start, $g: 16px);
  background-color: #e4e0d2;
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  span {
    font-size: 32px;
  }
  img {
    border-radius: 50%;
    height: 72px;
    width: 72px;
  }
}

.player-acive{
  background-color: #f5d67a;
}