@import "./../../styles.scss";

.field {
  @include fullSize();
  background-image: url(./../../assets/img/tableTop.jpg);
  @include dFlex();
}

.playerPosition {
  position: absolute;
  right: 0;
}

.cardStack {
  position: relative;
  img {
    position: absolute;
    height: 30vh;
  }
}

.topCard {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.02) translateY(-10px);
  }
}

.pickCard {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.3) translateX(200px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.3) translateX(200px) translateY(-180px) rotate(-10deg);
  }
}

.playedCard {
  right: 20px;
  transform: scale(1.3) translateX(200px) translateY(-180px) rotate(-10deg);
}

.btnAdd {
  position: absolute;
  right: 32px;
  bottom: 32px;
}